body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */

}

.upper-container {
    padding: 20px;
    background-color: #379EFF;
    text-align: left;
}

.upper-container .btn-home {
    color: #ffffff;
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.upper-container .btn-home:hover {
    background-color: #218838;
}

.container {
    max-width: 1500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f1f1f1;
    color: #333333;
}

.table input[type="text"] {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.table input[type="number"] {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    text-align: center;
}

form {
    text-align: center; /* Center elements inside the form */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}